$button-class: 'button' !default;
$button-primary-color: #{var(--button-primary-color, blue)} !default;
$button-light-color: #{var(--button-light-color, white)} !default;
$button-dark-color: #{var(--button-dark-color, black)} !default;
$button-transition: #{var(--button-transition, 0.3s)} !default;
$button-cubic-bezier: #{var(--button-cubic-bezier, ease-in-out)} !default;
$button-border-radius: #{var(--button-font-size, 2rem)} !default;
$button-font-size: #{var(--button-font-size, 14px)} !default;
$button-font-weight: #{var(--button-font-size, 600)} !default;
$button-font-family: #{var(--button-font-family, inherit)} !default;
$button-line-height: #{var(--button-line-height, 1.5)} !default;
$button-padding: #{var(
		--button-padding,
		var(--button-padding-y, 0.75rem) var(--button-padding-x, 1.5rem)
	)} !default;

.#{$button-class} {
	position: relative;
	display: inline-block;
	border: none;
	border-radius: 2rem;
	border-radius: $button-border-radius;
	background-color: transparent;
	color: var(--button-text, #{$button-light-color});
	font-family: $button-font-family;
	font-weight: $button-font-weight;
	font-size: $button-font-size;
	line-height: $button-line-height;
	text-decoration: none;
	cursor: pointer;
	padding: $button-padding;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 0 1px var(--button-box-color) inset;
		border-radius: 2rem;
		background-color: var(--button-color, #{$button-primary-color});
		transform: scale(1) translate(-50%, -50%);
	}
	&:focus {
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
		outline: none;
	}
	&:hover {
		&:before {
			transform-origin: 0% 0%;
			animation: bumpButton $button-transition $button-cubic-bezier;
			@at-root {
				@keyframes bumpButton {
					50% {
						transform: scale(1.05) translate(-50%, -50%);
					}
					100% {
						transform: scale(1) translate(-50%, -50%);
					}
				}
			}
		}
		.#{$button-class}__text {
			animation: bumpButtonText $button-transition $button-cubic-bezier;
			@at-root {
				@keyframes bumpButtonText {
					50% {
						transform: scale(0.95);
					}
					100% {
						transform: scale(1);
					}
				}
			}
		}
		.#{$button-class}__icon {
			animation: bumpButtonIcon $button-transition $button-cubic-bezier;
			@at-root {
				@keyframes bumpButtonIcon {
					50% {
						opacity: 0.5;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}
	}
	&__text {
		position: relative;
		z-index: 1;
		display: block;
		font-size: inherit;
		transform: scale(1);
		font-family: inherit;
		transition: transform $button-transition $button-cubic-bezier;
	}
	& + .#{$button-class} {
		margin-left: 1rem;
	}

	&--ghost-light {
		--button-color: transparent;
		--button-text: #{$button-light-color};
		--button-box-color: #{$button-light-color};
	}
	&--ghost-dark {
		--button-color: transparent;
		--button-text: #{$button-dark-color};
		--button-box-color: #{$button-dark-color};
	}
	&--naked {
		--button-color: transparent;
		--button-text: #{$button-primary-color};
		--button-box-color: #{$button-primary-color};
		border-radius: 1.5rem;
		.#{$button-class}__icon {
			right: auto;
			left: 0rem;
			background-color: #{$button-primary-color};
			color: white;
			transition: left $button-transition $button-cubic-bezier;
		}
		&.#{$button-class}--icon {
			padding-left: 2.5rem;
		}
		&:focus {
			&.#{$button-class}--icon {
				.#{$button-class}__text {
					transform: translateX(0.5rem);
				}
			}
			.#{$button-class}__icon {
				left: 0.5rem;
			}
		}
	}
	&--plain {
		--button-color: transparent;
		--button-text: #{$button-primary-color};
		--button-box-color: rgba(0, 0, 255, 0);
		font-weight: 400;
		font-size: 1rem;
		padding-left: 0;
		padding-right: 0;
		&.#{$button-class}--icon {
			padding-right: 2.5rem;
		}
		.#{$button-class}__icon {
			left: 0.5rem;
			font-size: 0.75em;
		}
	}
	@if variable-exists('colors') {
		@each $color-name, $color-value in $colors {
			&--#{to-lower-case($color-name)} {
				color: contra($color-value);
				&::before {
					background-color: $color-value;
				}
			}
		}
	}
	&--icon {
		padding-right: 3rem;
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 0.5rem;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		transform: translateY(-50%) scale(1);
	}
}
